.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signal-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    border-radius: 25px;
    gap: 25px;
    padding: 30px;
}

.signal-light {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: gray;
}

.time-counter {
    display: flex;
    align-items: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}